$text-color-1: white;
$text-color-2: rgb(19, 19, 19);
$primary-color: #5865f2;
$secondary-color: #3442d9;
$padding-sizes: (
  "sm": 10px,
  "md": 14px,
  "lg": 18px,
  "xl": 24px,
  "xxl": 30px,
  "3xl": 42px,
);
$margin-sizes: (
  "sm": 10px,
  "md": 14px,
  "lg": 18px,
  "xl": 24px,
  "xxl": 30px,
  "xxxl": 42px,
);
$text-sizes: (
  "sm": 10px,
  "md": 14px,
  "lg": 18px,
  "xl": 24px,
  "xxl": 30px,
  "xxxl": 42px,
);
@function padding-size($padding-name) {
  @return map-get($padding-sizes, $padding-name);
}
@function margin-size($margin-name) {
  @return map-get($margin-sizes, $margin-name);
}
@function text-size($text-name) {
  @return map-get($text-sizes, $text-name);
}
@mixin display($right) {
  @if ($right == -100%) {
    display: none;
  }
  else {
    display: block;
  }
}
@mixin flex($justify, $align, $direction, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}
@font-face {
  font-family: ggsans;
  src: url("./assets/ggsans-Normal.ttf");
}

/* NAV SECTION STARTS HERE */
.nav_hover {
  position: fixed;
  top: 0%;
  left: 0%;
  transition: all 200ms ease-in-out;
  background-color: $primary-color;
  z-index: 50;
}

.nav {
  width: 100%;
  height: fit-content;
  color: $text-color-1;
  transition: all 200ms ease-in-out;
  & &_container {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 20px 0;
    @include flex(space-between, center, row, 0px);
    & .nav_logo {
      width: 130px;
      & img {
        filter: invert(92%) sepia(77%) saturate(2%) hue-rotate(15deg)
          brightness(109%) contrast(100%);
      }
    }
    & .nav_extra_icons {
      @include flex(space-between, center, row, 36px);
      .nav_login_button {
        display: none;
        background-color: white;
        padding: 8px 14px;
        transition: all 400ms ease-in-out;
        border-radius: 20px;
        & a {
          color: $text-color-2;
          font-weight: 1000;
          font-size: 15px;
        }
        &:hover {
            box-shadow: 0px 0px 5px 0px black;
            transition: all 400ms ease-in-out;
            & a {
              color: #3442d9;
            }
          }
      }
      & .nav_menu_icon {
        font-size: text-size(xxl);
        width: fit-content;
        height: fit-content;
      }
    }
    & .nav_links {
      display: none;
    }
  }
  & &_menu {
    width: 0px;
    height: 100vh;
    position: absolute;
    top: 0%;
    right: 0%;
    color: $text-color-2;
    background-color: white;
    transition: all 300ms ease-in-out;
    z-index: 100;
    &_logo {
      width: 100%;
      height: fit-content;
      @include flex(space-between, center, row, 0);
      border-bottom: 1px solid rgb(234, 234, 234);
      padding: padding-size(xl);
      font-size: text-size(xl);
      display: none;
      & img {
        width: 120px;
      }
    }
    &_links {
      width: 98%;
      height: fit-content;
      list-style-type: none;
      @include flex(center, start, column, 20px);
      padding: padding-size(xxl);
      margin: auto;
      font-weight: 600;
      display: none;
      & li a {
        color: $text-color-2;
      }
    }
    & button {
      width: 86%;
      padding: padding-size(sm) padding-size(lg);
      margin: 40px auto 0px auto;
      border-radius: 20px;
      border: none;
      @include flex(start, center, row, 70px);
      background-color: $primary-color;
      color: $text-color-1;
      font-weight: 600;
      font-size: text-size(lg);
      display: none;
    }
  }
  & &_menu_click {
    width: 322px;
    position: absolute;
    transition: all 400ms ease-in-out;
    & .nav_menu_logo {
      width: 100%;
      display: flex;
    }
    & .nav_menu_links {
      width: 100%;
      display: flex;
    }
    & button {
      display: flex;
    }
  }
}

/* HERO SECTION STARTS HERE */
.hero {
  color: $text-color-1;
  line-height: 25px;
  width: 100%;
  height: fit-content;
  position: relative;
  @include flex(start, center, column-reverse, 0);
  & .hero_bg_right {
    width: 100%;
    height: 100%;
  }
  & .hero_bg_left{
    display: none;
  }
  & &_container {
    width: 100%;
    height: 100%;
    @include flex(start, start,column, 27px);
    padding: padding-size(xl) padding-size(lg);
    margin-top: 50px;
    & .hero_header {
      font-weight: 1000;
      font-size: 30px;
      line-height: 35px;
      font-family: 'Anton', sans-serif;
      word-spacing: 4px;
      letter-spacing: 4px;
    }
    & .hero_buttons {
      width: 100%;
      height: fit-content;
      & .download {
        width: 70%;
        border: none;
        background-color: rgb(255, 255, 255);
        padding: padding-size(md);
        border-radius: 20px;
        @include flex(start, center, row, 45px);
        font-size: text-size(lg);
        font-weight: bolder;
        & a {
          width: 100%;
          height: 100%;
          color: $text-color-2;
        }
      }
      & .login {
        display: none;
      }
    }
  }
}

/* HERO SECOND SECTION STARTS HERE */

.hero_2{
    width: 100%;
    height: fit-content;
    background-color: white;
    @include flex(start, center, column, 30px);
    padding: padding-size(xxl) padding-size(lg);
    & &_bg{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & &_info{
        width: 100%;
        height: 100%;
        @include flex(start, start, column, 20px );
        & .hero_2_header{
            font-weight: 1000;
        }
    }
}


@media (min-width: 474px) {
  .nav {
    & &_container {
      & .nav_extra_icons {
        .nav_login_button {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 767px){
    .hero{
        & &_container{
            width: 90%;
            margin: 50px auto;
            @include flex(center, center, column, 20px );
            padding: padding-size(xl) 0;
            & .hero_header{
                width: 391px;
                font-size:55px;
                letter-spacing: 6px;
                text-align: center;
                line-height: 60px;
            }
            & .hero_info{
                font-size: 22px;
            }
            & .hero_buttons{
                width: 100%;
                @include flex(center, center, row, 20px );
                & .download{
                    width: 100%;
                    gap: 110px;
                }
                & .login{
                    width: 100%;
                    display: block;
                    border: none;
                    background-color: rgb(0, 0, 0);
                    padding: padding-size(md);
                    border-radius: 20px;
                    @include flex(center, center, row, 0);
                    font-size: text-size(lg);
                    font-weight: bolder;
                }
            }
        }
    }
    .hero_2{
        padding: padding-size(xxl);
        & &_info{
            padding: padding-size(md);
            & h2{
                font-size: text-size(xxl);
            }
            & p{
                font-size: text-size(lg);
            }
        }
    }
}
@media (min-width: 999px) {
  .nav {
    & &_container {
      & .nav_links {
        @include flex(center, center, row, 45px);
        & a {
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    & .nav_menu_icon {
      display: none;
    }
  }
  .hero{
    width: 100%;
    height: 400px;
    @include flex(space-between, center, row, 0px);
    position: relative;
    overflow: hidden;
    margin-top: 90px;
    & &_bg_left{
        display: inline-block;
        width: 649px;
        height: 352px;
        position: absolute;
        right: -20%;
        bottom: -15%;
        z-index: -1;
    }
    & &_bg_right{
        width: 689px;
        height: 352px;
        width: fit-content;
        position: absolute;
        left: -27%;
        bottom: -15%;
        z-index: -1;
    }
    & &_container{
        @include flex(start, center, column, 40px );
        & .hero_header{
            width: fit-content;
        }
        & .hero_info{
            width: 740px;
            text-align: center;
        }
        & .hero_buttons{
            width: 500px;
            & .download{
                width: 40%;
                gap: 30px;
                padding: padding-size(lg);
                border-radius: 50px;
                font-size: 23px;
                cursor: pointer;
                &:hover{
                    color: #3442d9;
                    box-shadow: 1px 0px 5px 0px black;
                }
            }
            & .login{
                width: 60%;
                border-radius: 50px;
                padding: padding-size(lg);
                background-color: rgb(33, 33, 33);
            }
        }
    }
  }
  .hero_2{
    @include flex(space-between, center, row, 70px);
    padding: padding-size(xxl) 100px;
    & &_bg{
        width: 50%;
    }
    & &_info{
        width: 400px;
        & .hero_2_header{
            font-size: 50px;
            line-height: 49px;
        }
        & p{
            font-size: 20px;
        }
    }
  }
}
