$secondary-color: #3442d9;



* {
  font-family: ggsans;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to right, #3d49d1 1%, $secondary-color);
  max-width: 1320px;
  margin: auto;
}
a {
  color: white;
  text-decoration: none;
}
